<footer class="l-footer">
    <div class="l-footer__row">
        <div class="l-footer__head">
            <div class="l-footer__head__ico">
                <img src="/ja/assets/img/footer/ico_app.png" alt="">
            </div>
            <div class="l-footer__head__logo">
                <img src="/ja/assets/img/footer/logo.png" alt="LINE ドドドバトル">
            </div>
        </div>
        <div class="l-footer__dllinks">
            <a href="https://lin.ee/STV56i2/wots/a" target="_blank" class="l-footer__dllinks__item top-ft-as-play">
                <img src="/ja/assets/img/common/btn_appstore.png" alt="">
            </a>
            <a href="https://lin.ee/wdYjCeV/wots/a" target="_blank" class="l-footer__dllinks__item top-ft-gp-play">
                <img src="/ja/assets/img/common/btn_googleplay.png" alt="">
            </a>
        </div>
        <dl class="l-footer__spec">
            <dt>タイトル：</dt>
            <dd>LINE ドドドバトル</dd>
            <dt>ジャンル：</dt>
            <dd>ドドド爽快！カジュアルアクション</dd>
            <dt>対応機種：</dt>
            <dd>スマートフォン（iOS/Android）</dd>
            <dt>価格：</dt>
            <dd>基本プレイ無料(アプリ内課金あり)</dd>
            <dt>配信：</dt>
            <dd>LINEヤフー株式会社</dd>
        </dl>
        <div class="l-footer__offer">
            <p class="l-footer__offer__txt">※AppleとAppleのロゴは、米国およびその他の国で登録されたApple Inc.の商標です。</p>
            <p class="l-footer__offer__txt">※Google Play および Google Play ロゴは、Google LLC の商標です。</p>
        </div>
    </div>
    <div class="l-footer__row">
        <div class="l-footer__bottom">
            <div class="links">
                <a class="top-policy" href="https://terms2.line.me/LGAPP_privacy" target="_blank">プライバシーポリシー</a>
                <a class="top-contact" href="https://lg-cs.line.me/fm/public/inquiry/index" target="_blank">お問い合わせ</a>
            </div>
            <p class="copyright">© LY Corporation　© NHN Corp.</p>
        </div>
    </div>
</footer>
