@use 'global' as *;

body {
    &.-inmodal {
        // height: 100%;
        // overflow: hidden;
    }
}

.c-modal {
    @include cmn-transition();
    @include absPosition(0, 0);
    align-items: center;
    background: url(#{$imgDir}bg_contents.jpg) no-repeat 0 0 / cover;
    display: flex;
    height: 100%;
    opacity: 0;
    overflow: auto;
    visibility: hidden;
    width: 100%;
    z-index: $zLayer3;

    &.-active {
        opacity: 1;
        visibility: visible;
    }
}

.c-modal__inner {
    @include relPosition();
    margin: 0 auto;
    width: 100%;
}

.c-modal__close {
    @include cmn-transition();
    @include absPosition(getRem(20), null, null, getRem(20));
    height: getRem(80);
    width: getRem(80);

    &:before {
        @include absPosition(50%, 50%);
        background: getColor(primary);
        content: '';
        height: getRem(2);
        transform: translate(-50%, -50%) rotate(45deg);
        width: 100%;
    }

    &:after {
        @include absPosition(50%, 50%);
        background: getColor(primary);
        content: '';
        height: getRem(2);
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 100%;
    }

    &:hover {
        opacity: 0.5;
        transform: scale(1.25);
    }
}
