@use 'global' as *;

.c-android {
    display: none;

    [data-os='android'] & {
        display: block;
    }
}

.c-ios {
    display: none;

    [data-os='ios'] & {
        display: block;
    }
}

.c-ipad {
    display: none;

    [data-os='ipad'] & {
        display: block;
    }
}
