<div class="announce" data-anno-scroll="">
    <div class="announce__deco -left" data-anno-anime-shine="">
        <img src="<%= imgDir %>deco_flare.webp" alt="" width="126" height="126" loading="lazy">
    </div>
    <div class="announce__deco -right" data-anno-anime-shine="">
        <img src="<%= imgDir %>deco_flare.webp" alt="" width="126" height="126" loading="lazy">
    </div>
    <div class="announce__main" data-anno-anime-text="">
        <img src="<%= imgDir %>txt_main.webp" alt="大型企画" width="326" height="92" loading="lazy">
    </div>
    <div class="announce__sub">
        <img src="<%= imgDir %>txt_sub.svg" alt="2月にはリリース予定！" width="235" height="152" loading="lazy">
    </div>
</div>
