<div class="announce">
    <div class="announce__main">
        <img src="<%= imgDir %>txt_main.webp" alt="大型企画" width="326" height="92" loading="lazy">
    </div>
    <div class="announce__sub">
        <img src="<%= imgDir %>txt_sub.svg" alt="2月にはリリース予定！" width="235" height="152" loading="lazy">
    </div>
</div>
