<% 
    const items = [
        {
            id: "goblin-sword-green",
            className: "p-sprite__goblin-sword__green",
        },
        {
            id: "goblin-green",
            className: "p-sprite__goblin__green",
        },
        {
            id: "slime-blue",
            className: "p-sprite__slime__blue",
        },
        {
            id: "goblin-bow-yellow",
            className: "p-sprite__goblin-bow__yellow",
        },
        {
            id: "meercat-red",
            className: "p-sprite__meercat__red",
        },
        {
            id: "slime-green",
            className: "p-sprite__slime__green",
        },
        {
            id: "meercat-green",
            className: "p-sprite__meercat__green",
        },
        {
            id: "fox-blue",
            className: "p-sprite__fox__blue",
        },
        {
            id: "slime-yellow",
            className: "p-sprite__slime__yellow",
        },
    ]
%>

<div class="charcters" data-scroll-move-chara="">
    <% items.forEach((item, idx) => { %>
    <div class="charcters__item -<%= item.id %>">
        <div class="charcters__item__scalewrap">
            <div class="<%= item.className %> charcters__anime"></div>
        </div>
    </div>
    <% }) %>
</div>
