<% 
    const items = [
        {
            id: "goblin-bow-green",
            className: "p-sprite__goblin-bow__green",
        },
        {
            id: "slime-blue-left",
            className: "p-sprite__slime__blue",
        },
        {
            id: "slime-green",
            className: "p-sprite__slime__green",
        },
        {
            id: "slime-yellow-left",
            className: "p-sprite__slime__yellow",
        },
        {
            id: "meercat-green",
            className: "p-sprite__meercat__green",
        },
        {
            id: "meercat-red",
            className: "p-sprite__meercat__red",
        },
        {
            id: "goblin-bow-blue",
            className: "p-sprite__goblin-bow__blue",
        },
        {
            id: "fox-green",
            className: "p-sprite__fox__green",
        },
        {
            id: "slime-yellow-right",
            className: "p-sprite__slime__yellow",
        },
        {
            id: "slime-blue-right",
            className: "p-sprite__slime__blue",
        },
        {
            id: "fox-blue",
            className: "p-sprite__fox__blue",
        },
    ]
%>

<div class="charcters">
    <% items.forEach((item, idx) => { %>
    <div class="charcters__item -<%= item.id %>">
        <div class="charcters__item__scalewrap">
            <div class="<%= item.className %> charcters__anime"></div>
        </div>
    </div>
    <% }) %>
</div>
