<div class="foot">
    <div class="foot__main">
        <img src="<%= imgDir %>main.webp" alt="">
    </div>
    <a href="http://" target="_blank" rel="noopener noreferrer" class="foot__link">
        <img src="<%= imgDir %>btn.webp" alt="">
    </a>
    <div class="foot__sns">
        <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="<%= imgDir %>sns_x.webp" alt="">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
            <img src="<%= imgDir %>sns_line.webp" alt="">
        </a>
    </div>
    <a href="/ja/" class="foot__home">公式サイトはこちら！</a>
    <div class="foot__notice">
        <button class="foot__notice__btn" data-accordion-trrigger="notice">キャンペーン参加時の注意事項</button>
        <div class="foot__notice__contents" data-accordion="notice">
            <p>ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</p>
        </div>
    </div>
</div>