<div class="movie" data-mv-anime-other data-scroll-append-trigger>
    <div id="movie" class="movie__container" data-yt-container="vKVjBJdGjPI" data-playervars='{ "controls": 0, "playsinline": 1, "autoplay": 1, "mute": 1, "loop":1, "playlist": "vKVjBJdGjPI", "disablekb": 1, "modestbranding": 1}'></div>
    <div class="movie__noise"></div>
    <div class="movie__frame"></div>
    <p class="movie__text">ドドドの世界はここからCHECK!</p>
    <button type="button" class="movie__trigger js-modal_open top-pv" data-play-trigger="modalPlayer" data-modalID="movie">
        <img src="<%= imgDir %>icon_play.webp" alt="" width="61" height="64" loading="lazy">
    </button>
</div>
