<div class="schedule">
    <h3 class="schedule__head">開催スケジュールをCHECK!</h3>
    <div class="schedule__box">
        <div class="schedule__box__inner">
            <img src="<%= imgDir %>main.webp" alt="">
        </div>
        <button class="schedule__btn"></button>
    </div>
</div>
<div class="schedule__modal">
    <div class="schedule__modal__inner">
        <button class="schedule__modal__close">閉じる</button>
        <div class="schedule__modal__body">
            <div class="schedule__modal__img">
                <img src="<%= imgDir %>main.webp" alt="">
            </div>
        </div>
    </div>
</div>