<div class="schedule" id="secschedule" data-scroll-append-end="">
    <h3 class="schedule__head" data-schedule-anime-head="">
        <img src="<%= imgDir %>txt_head.svg" alt="開催スケジュールをCHECK!" loading="lazy" width="267" height="20" loading="lazy">
    </h3>
    <div class="schedule__box">
        <div class="schedule__box__inner">
            <img src="<%= imgDir %>ph_main.webp" alt="" width="294" height="714" loading="lazy">
        </div>
        <button type="button" class="schedule__btn js-modal_open" data-modalID="schedule">
            <img src="<%= imgDir %>icon_open.webp" alt="開く" width="48" height="48" loading="lazy">
        </button>
    </div>
</div>
