@use "sass:math";

//----------------------------------
//  Font周り
// ---------------------------------

//REM Fontsize
//ブラウザの標準はほぼ16pxなので、16として良い。
//だいたいにおいて、引数ひとつで使用する。
//ブラウザフォールバックはgulp-pleeeaseで行う

@mixin fontsize($size: 14, $base: 16) {
    //font-size: $size + px;
    font-size: math.div($size, $base) * 1rem;
}

//MacOSのフォントレンダリング
//背景の色によってアンチエイリアスのかかり具合を調節する
@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    } @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
