<section class="c-modal js-modal" data-modalID="movie">
    <div class="c-modal__inner">
        <div class="c-modal_movie__iframewrap">
            <div id="player"></div>
        </div>
    </div>
    <button class="c-modal__close js-modal_close"></button>
</section>
