<div class="c-modal js-modal" data-modalID="movie">
    <div class="c-modal__inner">
        <div class="c-modal_movie__iframewrap">
            <div id="modalPlayer" data-yt-container="vKVjBJdGjPI"></div>
        </div>
    </div>
    <button class="c-modal__close js-modal_close" data-stop-trigger="modalPlayer"></button>
</div>
<div class="c-modal js-modal" data-modalID="schedule">
    <div class="c-modal__inner">
        <div class="schedule__modal">
            <img src="<%= pageInfo.relPath %>assets/img/dododo-cp/schedule/ph_main.webp" alt="" loading="lazy">
        </div>
    </div>
    <button class="c-modal__close js-modal_close" data-stop-trigger="modalPlayer"></button>
</div>
