<div class="schedule" id="secschedule" data-scroll-append-end="">
    <h3 class="schedule__head" data-schedule-anime-head="">
        <img src="<%= imgDir %>txt_head.svg" alt="開催スケジュールをCHECK!" loading="lazy" loading="lazy">
    </h3>
    <div class="schedule__box">
        <div class="schedule__box__inner">
            <img src="<%= imgDir %>ph_main.webp" alt="" loading="lazy">
        </div>
        <button type="button" class="top-sche-more schedule__btn js-modal_open" data-modalID="schedule" data-schedule-anime-btn="">
            <img src="<%= imgDir %>icon_open.webp" alt="開く" loading="lazy">
        </button>
    </div>
</div>
