//------------------------------------------
//  Z-index
//  数字が上に行くほど手前にある
//------------------------------------------

$zLayer1m: -1;
$zLayer0: 0;
$zLayer1: 1000;
$zLayer2: 2000;
$zLayer3: 3000;
$zLayer4: 4000;
$zLayer5: 5000;
$zLayer6: 6000;
$zLayer7: 7000;
$zLayer8: 8000;
$zLayer9: 9000;
$zLayer10: 10000;
