//------------------------------------------
//  Z-index
//  数字が上に行くほど手前にある
//------------------------------------------

$zLayer1m: -1;
$zLayer0: 0;
$zLayer1: 1;
$zLayer2: 2;
$zLayer3: 3;
$zLayer4: 4;
$zLayer5: 5;
$zLayer6: 6;
