@use "global" as *;

.contents {
    @include relPosition();

    @include MQ_WIDE {
        margin: 0 auto;
        padding: 0 8px;
        width: calc(480px + 16px);
    }

    @include MQ_WIDE_HIGH {
        width: calc(600px + 16px);
    }

    &::before {
        @include MQ_WIDE {
            @include fxdPosition(0, 50%);
            box-shadow: 0 0 14px rgba(#000, 0.7);
            content: "";
            height: 100%;
            transform: translateX(-50%);
            width: calc(480px + 16px);

            .-top & {
                background: url(#{$imgDir}top/bg_line.png) repeat-y top left / 8px 48px, url(#{$imgDir}top/bg_line.png) repeat-y top right / 8px 48px;
            }

            .-dododo-cp & {
                background: url("#{$imgDir}dododo-cp/bg/line.webp") repeat-y top left / 12px 1080px, url("#{$imgDir}dododo-cp/bg/line.webp") repeat-y top right / 12px 1080px;
            }
        }

        @include MQ_WIDE_HIGH {
            width: calc(600px + 16px);
        }
    }

    // &::before {
    //     @include cmn-transition();
    //     @include absPosition(0, 0);
    //     background: url(#{$imgDir}loading.gif) no-repeat center / 30px 30px, #fff;
    //     content: '';
    //     height: 100%;
    //     visibility: visible;
    //     width: 100%;
    //     z-index: $zLayer5;

    //     .l-main.-ready & {
    //         opacity: 0;
    //         visibility: hidden;
    //     }
    // }
}
