@use "src/scss/global" as *;
@use "sass:math";

// 基本PCのみ（iOS、Androidでない場合のみSPも出現）
.l-download {
    @include fxdPosition(null, calc(((100% - 604px) / 2 + 604px) + 40px), 0);
    aspect-ratio: 840 / 556;
    background: url(/ja/assets/img/common/download/bg_dl.png) no-repeat center / 100%;
    padding: 25px 38px 0;
    width: 420px;

    @include MQ_UNDER(1620) {
        @include fxdPosition(auto, 50%, 0);
        background: url(/ja/assets/img/common/download/bg_dl_narrow.png) no-repeat top / 100%;
        filter: drop-shadow(0 0 getRem(80) rgba(#000, 0.6));
        height: 170px;
        padding: 24px 74px 0;
        transform: translateX(-50%);
        width: 500px;
        z-index: $zLayer6;
    }

    [data-os="others"] & {
        @include MQ_NARROW {
            aspect-ratio: auto;
            display: block;
            height: getVW(231);
            padding: getVW(32) getVW(100) 0;
            width: getVW(680);
        }
    }
}

.l-download__row {
    align-items: center;
    display: flex;
    gap: 14px;
}

.l-download__qr {
    width: 129px;

    @include MQ_UNDER(1620) {
        display: none;
    }
}

.l-download__txt {
    width: 206px;

    @include MQ_UNDER(1620) {
        margin: 0 auto;
        width: 398px;
    }

    [data-os="others"] & {
        @include MQ_NARROW {
            width: getRem(680);
        }
    }
}

.l-download__links {
    display: flex;
    gap: 8px;
    margin-top: 12px;

    [data-os="others"] & {
        @include MQ_NARROW {
            margin-top: getRem(16);
        }
    }
}

.l-download__charas {
    @include absPosition(-102px, 0);
    height: 130px;
    width: 150px;

    @include MQ_UNDER(1620) {
        display: none;
    }
}

.l-download__chara {
    &.-ft {
        @include absPosition(0, 0);
        width: 120px;
    }

    &.-sec {
        @include absPosition(36px, 60px);
        width: 90px;
    }

    .-slow {
        animation-duration: 1.2s;
    }

    .-delay {
        animation-delay: 0.4s;
    }
}
