@use "src/scss/global" as *;

.l-header {
    z-index: $zLayer6;

    @include MQ_NARROW {
        @include cmn-transition();
        @include fxdPosition(0, 0);
        opacity: 0;
        transform: translateY(-100%);
        width: 100%;
    }

    @include MQ_WIDE {
        @include fxdPosition(0, calc((100% - 496px) / 2 - (252px + 92px)));
    }

    .-scrolled & {
        @include MQ_NARROW {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .-dododo-cp.-scrolled & {
        @include MQ_NARROW {
            opacity: 0;
            visibility: hidden;
        }
    }

    &::before {
        @include MQ_NARROW {
            @include absPosition(0, 0);
            background: url(/ja/assets/img/header/bg.png) no-repeat 0 0 / 100%;
            content: "";
            height: getRem(88);
            width: 100%;

            .-dododo-cp & {
                height: getRem(42);
            }
        }
    }
}

.l-header__cont {
    @include MQ_NARROW {
        @include relPosition();
        display: flex;
        justify-content: space-between;
        padding: 0 getRem(30) 0 getRem(24);

        .-dododo-cp & {
            padding: 0 getRem(15) 0 getRem(12);
        }
    }
}

.l-header__dl {
    width: getRem(432);

    .-dododo-cp & {
        width: getRem(224);
    }

    img {
        filter: drop-shadow(0 getRem(8) getRem(16) rgba(#000, 0.5));
    }

    &::before {
        @include absPosition(getRem(10), getRem(5));
        background: url(/ja/assets/img/header/ph_kira.png) no-repeat 0 0 / 100%;
        content: "";
        height: getRem(52);
        width: getRem(502);
    }
}

.l-header__dl__deco {
    clip-path: polygon(2% 24%, 5% 92%, 95% 93%, 98% 20%);
    height: getRem(132);
    overflow: hidden;
    pointer-events: none;
    width: getRem(432);
    @include absPosition(0, getRem(23));

    .-dododo-cp & {
        @include absPosition(0, getRem(12));
        width: getRem(216);
        height: getRem(60);
    }

    &::before {
        animation: btnShiny 5s ease-in-out infinite;
        background-color: #fff;
        content: "";
        display: inline-block;
        height: getRem(450);
        left: 0;
        position: absolute;
        top: getRem(-100);
        transition: 300ms;
        width: getRem(40);
    }
}

@keyframes btnShiny {
    0% {
        opacity: 0.6;
        transform: rotate(45deg) translateX(getRem(-100)) translateY(getRem(-210));
    }
    80% {
        opacity: 0.6;
        transform: rotate(45deg) translateX(getRem(-100)) translateY(getRem(-210));
    }
    100% {
        opacity: 0.6;
        transform: rotate(45deg) translateX(getRem(490)) translateY(getRem(-140));
    }
}

.l-header__links {
    @include MQ_NARROW {
        display: flex;
        gap: getRem(18);
        margin-top: getRem(20);

        .-dododo-cp & {
            gap: getRem(9);
            margin-top: getRem(10);
        }
    }

    @include MQ_WIDE {
        margin: 40px;
        width: 252px;

        @include MQ_UNDER(1280) {
            filter: drop-shadow(0 0 20px rgba(#000, 0.4));
        }
    }

    @media (max-height: 900px) and (min-width: 960px) {
        .-dododo-cp & {
            margin-left: 20px;
        }
    }
}

.l-header__links__btn {
    display: block;

    @include MQ_NARROW {
        filter: drop-shadow(0 getRem(8) getRem(20) rgba(#000, 0.6));
        height: getRem(96);
        width: getRem(96);

        .-dododo-cp & {
            height: getRem(50);
            width: getRem(50);
        }
    }

    @include MQ_WIDE {
        @include MQ_UNDER(1280) {
            margin: 0 0 0 auto;
            width: 56px;
        }
    }

    & + & {
        @include MQ_WIDE {
            margin-top: 10px;
        }
    }
}
