@charset "UTF-8";
/* Document
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  * 1. Add text decoration inheritance in all browsers (opinionated).
  * 2. Add vertical alignment inheritance in all browsers (opinionated).
  */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}

/**
  * 1. Use the default cursor in all browsers (opinionated).
  * 2. Change the line height in all browsers (opinionated).
  * 3. Use a 4-space tab width in all browsers (opinionated).
  * 4. Remove the grey highlight on links in iOS (opinionated).
  * 5. Prevent adjustments of font size after orientation changes in
  *    IE on Windows Phone and in iOS.
  * 6. Breaks words to prevent overflow in all browsers (opinionated).
  */
html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
  word-break: break-word; /* 6 */
}

/* Sections
  * ========================================================================== */
/**
  * Remove the margin in all browsers (opinionated).
  */
body {
  margin: 0;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Edge, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
  * ========================================================================== */
/**
  * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
  */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
  * Remove the margin on nested lists in Edge 18- and IE.
  */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
  * 1. Correct the inheritance of border color in Firefox.
  * 2. Add the correct box sizing in Firefox.
  * 3. Show the overflow in Edge 18- and IE.
  */
hr {
  color: inherit; /* 1 */
  height: 0; /* 2 */
  overflow: visible; /* 3 */
}

/**
  * Add the correct display in IE.
  */
main {
  display: block;
}

/**
  * Remove the list style on navigation lists in all browsers (opinionated).
  */
nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

/**
  * Prevent VoiceOver from ignoring list semantics in Safari (opinionated).
  */
nav li::before {
  content: "​";
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  * 3. Prevent overflow of the container in all browsers (opinionated).
  */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
  -ms-overflow-style: scrollbar; /* 3 */
}

/* Text-level semantics
  * ========================================================================== */
/**
  * Remove the gray background on active links in IE 10.
  */
a {
  background-color: transparent;
}

/**
  * Add the correct text decoration in Edge 18-, IE, and Safari.
  */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/* Embedded content
  * ========================================================================== */
/*
  * Change the alignment on media elements in all browsers (opinionated).
  */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
  * Add the correct display in IE 9-.
  */
audio,
video {
  display: inline-block;
}

/**
  * Add the correct display in iOS 4-7.
  */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
  * Remove the border on iframes in all browsers (opinionated).
  */
iframe {
  border-style: none;
}

/**
  * Remove the border on images within links in IE 10-.
  */
img {
  border-style: none;
}

/**
  * Change the fill color to match the text color in all browsers (opinionated).
  */
svg:not([fill]) {
  fill: currentColor;
}

/**
  * Hide the overflow in IE.
  */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
  * ========================================================================== */
/**
  * 1. Collapse border spacing in all browsers (opinionated).
  * 2. Correct table border color inheritance in all Chrome, Edge, and Safari.
  * 3. Remove text indentation from table contents in Chrome, Edge, and Safari.
  */
table {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}

/* Forms
  * ========================================================================== */
/**
  * Remove the margin on controls in Safari.
  */
button,
input,
select {
  margin: 0;
}

/**
  * 1. Show the overflow in IE.
  * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
  */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
  * Correct the inability to style buttons in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * 1. Change the inconsistent appearance in all browsers (opinionated).
  * 2. Correct the padding in Firefox.
  */
fieldset {
  border: 1px solid #a0a0a0; /* 1 */
  padding: 0.35em 0.75em 0.625em; /* 2 */
}

/**
  * Show the overflow in Edge 18- and IE.
  */
input {
  overflow: visible;
}

/**
  * 1. Correct the text wrapping in Edge 18- and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
  * 1. Add the correct display in Edge 18- and IE.
  * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
  */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
  * Remove the inheritance of text transform in Firefox.
  */
select {
  text-transform: none;
}

/**
  * 1. Remove the margin in Firefox and Safari.
  * 2. Remove the default vertical scrollbar in IE.
  * 3. Change the resize direction in all browsers (opinionated).
  */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
  resize: vertical; /* 3 */
  resize: block; /* 3 */
}

/**
  * Remove the padding in IE 10-.
  */
[type=checkbox],
[type=radio] {
  padding: 0;
}

/**
  * 1. Correct the odd appearance in Chrome, Edge, and Safari.
  * 2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Safari.
  */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
  */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
  */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
  * Remove the inner border and padding of focus outlines in Firefox.
  */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus outline styles unset by the previous rule in Firefox.
  */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Remove the additional :invalid styles in Firefox.
  */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
  * ========================================================================== */
/*
  * Add the correct display in Edge 18- and IE.
  */
details {
  display: block;
}

/*
  * Add the correct styles in Edge 18-, IE, and Safari.
  */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Scripting
  * ========================================================================== */
/**
  * Add the correct display in IE 9-.
  */
canvas {
  display: inline-block;
}

/**
  * Add the correct display in IE.
  */
template {
  display: none;
}

/* User interaction
  * ========================================================================== */
/*
  * Remove the tapping delay in IE 10.
  */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
}

/**
  * Add the correct display in IE 10-.
  */
[hidden] {
  display: none;
}

/* Accessibility
  * ========================================================================== */
/**
  * Change the cursor on busy elements in all browsers (opinionated).
  */
[aria-busy=true] {
  cursor: progress;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
  */
[aria-controls] {
  cursor: pointer;
}

/*
  * Change the cursor on disabled, not-editable, or otherwise
  * inoperable elements in all browsers (opinionated).
  */
[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

/*
  * Change the display on visually hidden accessible elements
  * in all browsers (opinionated).
  */
[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* sanitize overwrite */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
dt {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ol,
ul,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:focus {
  outline: none;
}

main {
  display: block;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: initial;
}

nav li:before {
  content: "";
  display: none;
}

.l-header {
  z-index: 6000;
}

.l-header__dl {
  width: 27rem;
}
.-dododo-cp .l-header__dl {
  width: 14rem;
}
.l-header__dl img {
  filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.5));
}
.l-header__dl::before {
  position: absolute;
  top: 0.625rem;
  left: 0.3125rem;
  background: url(/ja/assets/img/header/ph_kira.png) no-repeat 0 0/100%;
  content: "";
  height: 3.25rem;
  width: 31.375rem;
}

.l-header__dl__deco {
  clip-path: polygon(2% 24%, 5% 92%, 95% 93%, 98% 20%);
  height: 8.25rem;
  overflow: hidden;
  pointer-events: none;
  width: 27rem;
  position: absolute;
  top: 0;
  left: 1.4375rem;
}
.-dododo-cp .l-header__dl__deco {
  position: absolute;
  top: 0;
  left: 0.75rem;
  width: 13.5rem;
  height: 3.75rem;
}
.l-header__dl__deco::before {
  animation: btnShiny 5s ease-in-out infinite;
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 28.125rem;
  left: 0;
  position: absolute;
  top: -6.25rem;
  transition: 300ms;
  width: 2.5rem;
}

@keyframes btnShiny {
  0% {
    opacity: 0.6;
    transform: rotate(45deg) translateX(-6.25rem) translateY(-13.125rem);
  }
  80% {
    opacity: 0.6;
    transform: rotate(45deg) translateX(-6.25rem) translateY(-13.125rem);
  }
  100% {
    opacity: 0.6;
    transform: rotate(45deg) translateX(30.625rem) translateY(-8.75rem);
  }
}

.l-header__links__btn {
  display: block;
}

.l-footer {
  position: relative;
  background: #000;
  color: #fff;
}

.l-footer__row {
  padding: 4rem 2.5rem;
}
.l-footer__row + .l-footer__row {
  border-top: 1px solid #797981;
}

.l-footer__head {
  display: flex;
  gap: 0 1.5rem;
}

.l-footer__head__ico {
  width: 14.75rem;
}

.l-footer__head__logo {
  width: 23.875rem;
}

.l-footer__dllinks {
  display: flex;
  gap: 0.625rem;
  margin-top: 2rem;
}
.-dododo-cp .l-footer__dllinks {
  gap: 0.3125rem;
  margin-top: 1rem;
}

.l-footer__spec {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  margin-top: 1.75rem;
}
.l-footer__spec dt {
  color: #8a7c21;
  display: inline-block;
  font-weight: 700;
  width: 10rem;
}
.-dododo-cp .l-footer__spec dt {
  width: 5rem;
}
.l-footer__spec dd {
  display: inline-block;
  width: calc(100% - 10rem);
}
.-dododo-cp .l-footer__spec dd {
  width: calc(100% - 5rem);
}

.l-footer__offer {
  margin-top: 3rem;
}

.l-footer__offer__txt {
  font-size: 1.75rem;
}

.l-footer__bottom {
  color: #797981;
  font-size: 1.75rem;
  text-align: center;
}
.l-footer__bottom .links {
  display: flex;
}
.l-footer__bottom .links a {
  width: 50%;
}

.c-font_oswald {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.c-font_cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
}

.c-font_shippori-mincho {
  font-family: "Shippori Mincho", serif;
  font-style: normal;
}

.c-hover_op {
  transition: opacity 0.3s 0s ease;
}

.c-hover_opacity {
  transition: opacity 0.3s 0s ease;
}

/* ==========================================================================
	modal
========================================================================== */
.c-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  opacity: 0;
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  overflow-y: scroll;
  pointer-events: none;
  scrollbar-width: none; /* Firefox 対応 */
  transition: all 0.5s 0s ease;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}
.c-modal.-active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 6000;
}
.c-modal::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.c-modal__inner {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  width: 100%;
}

.c-modal__close {
  cursor: pointer;
  padding: 0;
}
.c-modal__close:before, .c-modal__close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  content: "";
  height: 2px;
  width: 100%;
}
.c-modal__close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.c-modal__close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.c-modal__close.-bk:before, .c-modal__close.-bk:after {
  background: #000;
}

.c-modal_movie__iframewrap {
  aspect-ratio: 16/9;
  margin: 0 auto;
  max-width: 80vw;
  position: relative;
  width: 100%;
}
.c-modal_movie__iframewrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.c-scrollreveal {
  opacity: 0;
}

@keyframes itemInSp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes itemInPc {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.c-android {
  display: none;
}
[data-os=android] .c-android {
  display: block;
}

.c-ios {
  display: none;
}
[data-os=ios] .c-ios {
  display: block;
}

.c-ipad {
  display: none;
}
[data-os=ipad] .c-ipad {
  display: block;
}

.c-others {
  display: none;
}
[data-os=others] .c-others {
  display: block;
}

.c-visible_nrw {
  display: block;
}

.p-sprite__meercat__red, .p-sprite__meercat__green, .p-sprite__meercat__yellow, .p-sprite__goblin-bow__blue, .p-sprite__goblin-bow__green, .p-sprite__goblin-bow__yellow, .p-sprite__goblin-sword__blue, .p-sprite__goblin-sword__green, .p-sprite__goblin-sword__yellow, .p-sprite__goblin__blue, .p-sprite__goblin__green, .p-sprite__goblin__yellow, .p-sprite__inu, .p-sprite__fox__yellow, .p-sprite__fox__blue, .p-sprite__fox__green, .p-sprite__slime__yellow, .p-sprite__slime__green, .p-sprite__slime__blue {
  animation: stepAnimation 0.8s infinite;
  aspect-ratio: 1/1;
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.p-sprite__slime__blue {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_slime1.png);
}

.p-sprite__slime__green {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_slime2.png);
}

.p-sprite__slime__yellow {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_slime3.png);
}

.p-sprite__fox__green {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_fox1.png);
}

.p-sprite__fox__blue {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_fox2.png);
}

.p-sprite__fox__yellow {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_fox3.png);
}

.p-sprite__inu {
  animation-timing-function: steps(7);
  background-image: url(/ja/assets/img/common/sprite/ph_inu.png);
}

.p-sprite__goblin__yellow {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin1.png);
}

.p-sprite__goblin__green {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin2.png);
}

.p-sprite__goblin__blue {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin3.png);
}

.p-sprite__goblin-sword__yellow {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin4.png);
}

.p-sprite__goblin-sword__green {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin5.png);
}

.p-sprite__goblin-sword__blue {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin6.png);
}

.p-sprite__goblin-bow__yellow {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin7.png);
}

.p-sprite__goblin-bow__green {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin8.png);
}

.p-sprite__goblin-bow__blue {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_goblin9.png);
}

.p-sprite__meercat__yellow {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_meercat1.png);
}

.p-sprite__meercat__green {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_meercat2.png);
}

.p-sprite__meercat__red {
  animation-timing-function: steps(3);
  background-image: url(/ja/assets/img/common/sprite/ph_meercat3.png);
}

@keyframes stepAnimation {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: -100% 0%;
  }
}
.download {
  position: fixed;
  left: calc((100% - 604px) / 2 + 604px + 40px);
  bottom: 0;
  aspect-ratio: 840/556;
  background: url(/ja/assets/img/download/bg_dl.png) no-repeat center/100%;
  padding: 25px 38px 0;
  width: 420px;
}

.download__row {
  align-items: center;
  display: flex;
  gap: 14px;
}

.download__qr {
  width: 129px;
}

.download__txt {
  width: 206px;
}

.download__links {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.download__charas {
  position: absolute;
  top: -102px;
  left: 0;
  height: 130px;
  width: 150px;
}

.download__chara.-ft {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
}
.download__chara.-sec {
  position: absolute;
  top: 36px;
  left: 60px;
  width: 90px;
}
.download__chara .-slow {
  animation-duration: 1.2s;
}
.download__chara .-delay {
  animation-delay: 0.4s;
}

body {
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #003856;
  font-family: "YakuHanJP_Noto", "Noto Sans JP", sans-serif;
  line-height: 1.7;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
}

.l-main {
  position: relative;
  width: 100%;
}

.l-main__inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.l-bg-main {
  position: fixed;
  top: 50lvh;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 110lvh;
  overflow: hidden;
}

.l-bg-main__image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 126%;
  height: 100%;
  background-image: url("../img/bg/main.webp");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.announce {
  position: relative;
  width: 100%;
  height: 25rem;
  background-image: url("../img/bg/announce.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.announce__deco {
  width: 7.875rem;
}
.announce__deco.-left {
  position: absolute;
  top: 6.3125rem;
  left: 3.75rem;
}
.announce__deco.-right {
  position: absolute;
  top: 6.3125rem;
  left: unset;
  bottom: unset;
  right: 3.75rem;
}

.announce__main {
  position: absolute;
  top: 12rem;
  left: 50%;
  translate: -50%;
  width: 20.375rem;
}

.announce__sub {
  position: absolute;
  top: 10.3125rem;
  left: 50%;
  translate: -50%;
  width: 14.6875rem;
}

[data-anno-scroll] {
  opacity: 0;
}

[data-anno-anime-text] {
  scale: 1.8;
  opacity: 0;
}

[data-anno-anime-shine] {
  scale: 0;
  rotate: -220deg;
}

.campaigns {
  position: relative;
  margin-top: 2.125rem;
}

.campaigns__head {
  position: relative;
}

.campaigns__head__main {
  position: absolute;
  top: -2.625rem;
  left: 0;
  display: block;
  width: 100%;
}
.campaigns__head__main canvas {
  width: 100%;
  height: auto;
}

.campaigns__head__sally {
  position: absolute;
  top: -1.25rem;
  right: -1.125rem;
  width: 8rem;
}

.campaigns__item {
  position: relative;
  background-image: url("../img/bg/campaigns_upper.webp"), url("../img/bg/campaigns_lower.webp");
  background-size: 100%, 100%;
  background-position: top 0 left 50%, top 26.1875rem left 50%;
  background-repeat: no-repeat, repeat-y;
}
.campaigns__item + .campaigns__item {
  margin-top: 3.375rem;
}

.campaigns__inner {
  position: relative;
  height: 26.1875rem;
  overflow: hidden;
}
.campaigns__inner::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3.75rem;
  background: linear-gradient(180deg, rgba(200, 165, 87, 0) 0%, #c8a557 72%);
  content: "";
}
[aria-expanded=true] .campaigns__inner::after {
  content: none;
}

.campaigns__badge {
  position: absolute;
  top: -1rem;
  right: 1.25rem;
  width: 4.5rem;
}

.campaigns__title {
  position: relative;
}

.campaigns__title__sub {
  display: block;
}

.campaigns__title__main {
  display: block;
  position: absolute;
  top: 2.25rem;
  left: 0;
  width: 16.75rem;
}

.campaigns__img {
  position: relative;
  margin: 0 auto;
  width: 21.875rem;
}
.campaigns__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(131, 97, 70, 0.5019607843);
  rotate: -3deg;
}
.campaigns__img img {
  position: relative;
}

.campaigns__img__frame {
  position: absolute;
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: url("../img/campaigns/frame.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.campaigns__texts {
  margin-top: 0.5rem;
  padding: 0 2.1875rem 2rem;
  color: #663814;
}

.campaigns__date {
  text-align: center;
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 800;
}

.campaigns__head {
  margin-top: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.44;
  font-weight: 800;
}

.campaigns__body {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
}

.campaigns__link {
  display: block;
  margin-top: 0.75rem;
}

.campaigns__trigger__wrapper {
  position: absolute;
  left: 50%;
  bottom: -1.5rem;
  transform: translate(-50%, 0);
  width: 15.625rem;
  height: 3rem;
  background-image: url("../img/campaigns/ph_btn_trigger.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.campaigns__trigger {
  font-size: 1rem;
  line-height: 1.45;
  font-weight: 800;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.campaigns__trigger::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.125rem;
  translate: 0 -50%;
  background-image: url("../img/campaigns/icon_arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}
[aria-expanded=true] .campaigns__trigger::after {
  rotate: 180deg;
}

[aria-expanded=true] .campaigns__trigger__open {
  display: none;
}
[aria-expanded=false] .campaigns__trigger__open {
  display: block;
}

[aria-expanded=true] .campaigns__trigger__close {
  display: block;
}
[aria-expanded=false] .campaigns__trigger__close {
  display: none;
}

[data-cam-anime-badge],
[data-cam-anime-title] {
  opacity: 0;
  scale: 1.8;
}

[data-cam-anime-image] {
  opacity: 0;
  scale: 0.2;
  rotate: -800deg;
}

.charcters__anime {
  animation-play-state: paused;
}
.-move .charcters__anime {
  animation-play-state: running;
}

[data-character] {
  transform: translateX(0) translateY(0) scale(0);
  transform-origin: bottom center;
}

@keyframes moveLtoR {
  0% {
    transform: translateX(0) scale(1, 1);
  }
  50% {
    transform: translateX(-10%) scale(1, 1);
  }
  51% {
    transform: translateX(-10%) scale(-1, 1);
  }
  100% {
    transform: translateX(0) scale(-1, 1);
  }
}
@keyframes moveRtoL {
  0% {
    transform: translateX(0) scale(-1, 1);
  }
  50% {
    transform: translateX(10%) scale(-1, 1);
  }
  51% {
    transform: translateX(10%) scale(1, 1);
  }
  100% {
    transform: translateX(0) scale(1, 1);
  }
}
@keyframes flare {
  0% {
    opacity: 1;
  }
  18% {
    opacity: 0.6;
  }
  40% {
    opacity: 1;
  }
  72% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.deco-items {
  position: relative;
  width: 100%;
  height: 100%;
}

.deco-item {
  position: absolute;
  top: calc((100% - 100lvh) / 2);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  animation: fall 10s linear 0s infinite;
  animation-play-state: paused;
}
.-fall .deco-item {
  animation-play-state: running;
}

.deco-item:nth-child(1) {
  left: 3.3125rem;
  animation-duration: 6s;
  animation-delay: 6s;
  width: 1.25rem;
  height: 1.5625rem;
  background-image: url("../img/bg/deco_011.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(2) {
  left: 4.5rem;
  animation-duration: 6s;
  animation-delay: 9s;
  width: 1.125rem;
  height: 1.0625rem;
  background-image: url("../img/bg/deco_011.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(3) {
  left: 13.6875rem;
  animation-duration: 6s;
  animation-delay: 5s;
  width: 1.6875rem;
  height: 1.75rem;
  background-image: url("../img/bg/deco_07.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(4) {
  left: 14.8125rem;
  animation-duration: 6s;
  animation-delay: 2s;
  width: 1rem;
  height: 1rem;
  background-image: url("../img/bg/deco_010.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(5) {
  left: 19.8125rem;
  animation-duration: 5s;
  animation-delay: 9s;
  width: 1.125rem;
  height: 1.5rem;
  background-image: url("../img/bg/deco_02.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(6) {
  left: 17.75rem;
  animation-duration: 5s;
  animation-delay: 1s;
  width: 1.6875rem;
  height: 0.8125rem;
  background-image: url("../img/bg/deco_04.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(7) {
  left: 2.5rem;
  animation-duration: 6s;
  animation-delay: 4s;
  width: 0.8125rem;
  height: 1.1875rem;
  background-image: url("../img/bg/deco_02.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(8) {
  left: 0.125rem;
  animation-duration: 5s;
  animation-delay: 2s;
  width: 1.75rem;
  height: 1.125rem;
  background-image: url("../img/bg/deco_03.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(9) {
  left: 1.5625rem;
  animation-duration: 5s;
  animation-delay: 8s;
  width: 1.125rem;
  height: 1.1875rem;
  background-image: url("../img/bg/deco_06.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(10) {
  left: 5.875rem;
  animation-duration: 5s;
  animation-delay: 5s;
  width: 0.9375rem;
  height: 1.4375rem;
  background-image: url("../img/bg/deco_09.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(11) {
  left: 15.75rem;
  animation-duration: 6s;
  animation-delay: 9s;
  width: 1.6875rem;
  height: 1.6875rem;
  background-image: url("../img/bg/deco_012.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(12) {
  left: 4.375rem;
  animation-duration: 6s;
  animation-delay: 1s;
  width: 1.625rem;
  height: 1.6875rem;
  background-image: url("../img/bg/deco_011.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(13) {
  left: 10rem;
  animation-duration: 6s;
  animation-delay: 9s;
  width: 1.0625rem;
  height: 1.25rem;
  background-image: url("../img/bg/deco_02.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(14) {
  left: 4.375rem;
  animation-duration: 6s;
  animation-delay: 5s;
  width: 1.3125rem;
  height: 1.1875rem;
  background-image: url("../img/bg/deco_05.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(15) {
  left: 17.0625rem;
  animation-duration: 5s;
  animation-delay: 10s;
  width: 1rem;
  height: 1.8125rem;
  background-image: url("../img/bg/deco_08.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(16) {
  left: 2.625rem;
  animation-duration: 5s;
  animation-delay: 10s;
  width: 0.9375rem;
  height: 1.625rem;
  background-image: url("../img/bg/deco_013.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(17) {
  left: 11.75rem;
  animation-duration: 6s;
  animation-delay: 9s;
  width: 1.5625rem;
  height: 1.0625rem;
  background-image: url("../img/bg/deco_010.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(18) {
  left: 16.875rem;
  animation-duration: 6s;
  animation-delay: 3s;
  width: 1.3125rem;
  height: 1.0625rem;
  background-image: url("../img/bg/deco_02.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(19) {
  left: 16.375rem;
  animation-duration: 6s;
  animation-delay: 4s;
  width: 1.4375rem;
  height: 0.9375rem;
  background-image: url("../img/bg/deco_011.webp");
  transform: translateY(-100%) rotate(0);
}

.deco-item:nth-child(20) {
  left: 4.875rem;
  animation-duration: 6s;
  animation-delay: 2s;
  width: 1.375rem;
  height: 0.875rem;
  background-image: url("../img/bg/deco_09.webp");
  transform: translateY(-100%) rotate(0);
}

@keyframes fall {
  0% {
    transform: translateY(-100%) rotate(0);
  }
  100% {
    transform: translateY(100lvh) rotate(720deg);
  }
}
.foot {
  position: relative;
  margin-top: -4.375rem;
}

.foot__inner {
  padding-top: 6rem;
}

.foot__main {
  position: relative;
  width: 100%;
  height: 11.0625rem;
}

.foot__main__treasure {
  position: absolute;
  top: 0;
  left: 50%;
  width: 14.375rem;
  translate: -50%;
}

.foot__main__anime {
  position: absolute;
  top: -0.75rem;
  left: 0;
  width: 100%;
}
.foot__main__anime canvas {
  width: 100%;
  height: auto;
}

.foot__main__txt {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 9.375rem;
  translate: -50%;
}

.foot__link {
  display: block;
  margin: 1.5rem auto 0;
  width: 21.875rem;
}

.foot__lower {
  position: relative;
  margin-top: 8rem;
  padding-top: 4rem;
  width: 100%;
  background-image: url("../img/bg/foot_lower.webp");
  background-size: 100%;
  background-position: top 0 left 50%;
  background-repeat: no-repeat;
}

.foot__sns__lead {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 0px 20px #261614, 0px 0px 20px #261614, 0px 0px 20px #261614;
}

.foot__sns___links {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.foot__sns___links a {
  display: block;
  width: 3.5rem;
}

.foot__btns {
  margin: 1rem auto 0;
  padding-bottom: 2.5rem;
  background-image: url("../img/bg/foot_lower_repeat.webp");
  background-size: 100%;
  background-position: top 0 left 50%;
  background-repeat: repeat-y;
}

.foot__home {
  position: relative;
  display: block;
  width: 21.875rem;
  height: 4.5rem;
  font-size: 1.25rem;
  margin: 0 auto;
  line-height: 1;
  font-weight: 900;
  background-image: url("../img/foot/ph_btn_link.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot__home::after {
  position: absolute;
  top: 50%;
  left: unset;
  bottom: unset;
  right: 1.5625rem;
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  transform: translateY(-50%);
  background-image: url("../img/common/icon_blank.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.foot__notice {
  position: relative;
  margin: 1rem auto 0;
  width: 21.875rem;
  color: #fff;
  border: 2px solid #fff;
}

.foot__notice__btn {
  position: relative;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
}

.foot__notice__btn__icon {
  position: absolute;
  top: 50%;
  right: 1.125rem;
  width: 0.75rem;
  height: 0.75rem;
  translate: 0 -50%;
}
.foot__notice__btn__icon::before, .foot__notice__btn__icon::after {
  content: "";
  display: block;
  background-color: #fff;
}
.foot__notice__btn__icon::before {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: 100%;
  height: 2px;
}
.foot__notice__btn__icon::after {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  width: 2px;
  height: 100%;
}
[aria-expanded=true] .foot__notice__btn__icon::after {
  opacity: 0;
}

.foot__notice__contents {
  height: 0;
  overflow: hidden;
}
.foot__notice__contents p {
  border-top: 2px solid #fff;
  padding: 1.5rem 1.25rem;
  font-size: 0.625rem;
}

[data-foot-anime-sub] {
  opacity: 0;
  scale: 1.8;
}

.movie {
  position: relative;
  margin: 2.625rem auto 0;
  width: 21.875rem;
  height: 11.25rem;
}
.movie::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d9d4d0;
  rotate: -3deg;
}

.movie__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.movie__noise {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
  background-image: url("../img/mv/noise.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.movie__frame {
  position: absolute;
  top: calc(50% + 1px);
  left: 50%;
  translate: -50% -50%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-image: url("../img/mv/frame.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.movie__text {
  position: absolute;
  top: 2.375rem;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.375rem;
  line-height: 1.45;
  font-weight: 800;
  letter-spacing: -0.1em;
  text-shadow: 0px 0px 20px #7139bf, 0px 0px 20px #7139bf, 0px 0px 20px #7139bf, 0px 0px 20px #7139bf;
  translate: -50%;
  color: #fff;
}

.movie__trigger {
  position: absolute;
  top: 4.75rem;
  left: 50%;
  width: 4rem;
  translate: -50%;
}

.mv {
  width: 100%;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mv__inner {
  width: 100%;
  position: relative;
}

.mv__logo {
  width: 17.3125rem;
  margin: 0 auto;
}

.mv__chara.-brown {
  position: absolute;
  top: -2.3125rem;
  left: -0.1875rem;
  width: 6.375rem;
}
.mv__chara.-sally {
  position: absolute;
  top: -4.25rem;
  right: -0.8125rem;
  width: 7.625rem;
}

.mv__main {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
}
.mv__main canvas {
  width: 100%;
  height: auto;
}

.mv__link {
  position: relative;
  display: block;
  margin: 18.5rem auto 0;
  width: 21.875rem;
}
.mv__link.-rumble {
  animation: rumble 3.2s ease-out 0.4s infinite;
}

.mv__x {
  display: block;
  position: relative;
  margin: 0.5rem auto 0;
  width: 17.625rem;
  height: 3.625rem;
  background-image: url("../img/mv/ph_btn_x.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mv__x__baloon {
  position: absolute;
  top: 50%;
  left: -2.5rem;
  width: 4rem;
  translate: 0 -50%;
}
.mv__x__baloon.-rumble {
  animation: trembling 1.8s ease-out 0.4s infinite;
}

.mv__x__detail {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.mv__x__icon {
  width: 2rem;
}

.mv__x__text {
  width: 6.9375rem;
}

[data-mv-anime-logo] {
  opacity: 0;
  scale: 1.5;
  rotate: -180deg;
}

[data-mv-anime-brown] {
  opacity: 0;
  transform: translateX(10%) translateY(20%);
}

[data-mv-anime-sally] {
  opacity: 0;
  transform: translateX(-10%) translateY(20%);
}

[data-mv-anime-other] {
  opacity: 0;
  scale: 1.8;
}

@keyframes trembling {
  0% {
    transform: translateX(-5%);
  }
  10% {
    transform: translateX(5%);
  }
  20% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes rumble {
  0% {
    transform: translate(12px);
  }
  2% {
    transform: translate(-12px);
  }
  4% {
    transform: translate(12px);
  }
  6% {
    transform: translate(-12px);
  }
  8% {
    transform: translate(12px);
  }
  10% {
    transform: translate(-12px);
  }
  12% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}
.schedule {
  margin-top: 4.5rem;
  padding-bottom: 3.5rem;
  position: relative;
}

.schedule__head {
  margin: 0 auto;
  width: 16.6875rem;
  filter: drop-shadow(0px 0px 20px #000000) drop-shadow(0px 0px 20px #000000) drop-shadow(0px 0px 20px #000000);
  will-change: filter;
}

.schedule__box {
  position: relative;
  margin: 0.625rem auto 0;
  width: 21rem;
  height: 22.25rem;
  background-image: url("../img/bg/schedule_box.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.schedule__box__inner {
  position: relative;
  width: 100%;
  height: calc(100% - 0.1875rem);
  padding: 2.125rem 0;
  overflow: scroll;
}
.schedule__box__inner img {
  margin: 0 auto;
  width: 18.375rem;
}

.schedule__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.schedule__modal {
  margin: 0 auto;
  padding: 4.0625rem 0;
  width: 18.375rem;
}

.schedule__modal__close {
  position: fixed;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
}

.schedule__anchor {
  position: fixed;
  display: block;
  left: calc(50% + 5.5rem);
  bottom: 0;
  width: 6.75rem;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
}
.schedule__anchor.-append {
  opacity: 1;
  visibility: visible;
}

.schedule__anchor__shine {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5.5rem;
  height: 6rem;
  clip-path: polygon(50% 0%, 100% 18%, 100% 82%, 50% 100%, 0 82%, 0 18%);
}
.schedule__anchor__shine::before {
  animation: btnShinySchedule 2.3s ease-in-out infinite;
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 110%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.875rem;
  transform-origin: bottom right;
}

@keyframes btnShinySchedule {
  0% {
    opacity: 0.6;
    transform: rotate(60deg) translateX(-5.75rem);
  }
  80% {
    opacity: 0.6;
    transform: rotate(60deg) translateX(-5.75rem);
  }
  100% {
    opacity: 0.6;
    transform: rotate(60deg) translateX(2.75rem);
  }
}
[data-schedule-anime-head] {
  opacity: 0;
  scale: 1.8;
}

[data-schedule-anime-btn] {
  transform-origin: bottom right;
}

@media (max-width: 959px){
  .l-header {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    width: 100%;
  }
  .-scrolled .l-header {
    opacity: 1;
    transform: translateY(0);
  }
  .-dododo-cp.-scrolled .l-header {
    opacity: 0;
    visibility: hidden;
  }
  .l-header::before {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/ja/assets/img/header/bg.png) no-repeat 0 0/100%;
    content: "";
    height: 5.5rem;
    width: 100%;
  }
  .-dododo-cp .l-header::before {
    height: 2.625rem;
  }
  .l-header__cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 1.875rem 0 1.5rem;
  }
  .-dododo-cp .l-header__cont {
    padding: 0 0.9375rem 0 0.75rem;
  }
  .l-header__links {
    display: flex;
    gap: 1.125rem;
    margin-top: 1.25rem;
  }
  .-dododo-cp .l-header__links {
    gap: 0.5625rem;
    margin-top: 0.625rem;
  }
  .l-header__links__btn {
    filter: drop-shadow(0 0.5rem 1.25rem rgba(0, 0, 0, 0.6));
    height: 6rem;
    width: 6rem;
  }
  .-dododo-cp .l-header__links__btn {
    height: 3.125rem;
    width: 3.125rem;
  }
  .-dododo-cp .l-footer__row {
    padding: 2rem 1.75rem;
  }
  .-dododo-cp .l-footer__head {
    gap: 0 0.4375rem;
  }
  .-dododo-cp .l-footer__head__ico {
    width: 7.625rem;
  }
  .-dododo-cp .l-footer__head__logo {
    width: 12.375rem;
  }
  .-dododo-cp .l-footer__spec {
    font-size: 1rem;
    margin-top: 0.875rem;
  }
  .-dododo-cp .l-footer__offer {
    margin-top: 1.5rem;
  }
  .-dododo-cp .l-footer__offer__txt {
    font-size: 0.875rem;
  }
  .-dododo-cp .l-footer__bottom {
    font-size: 0.875rem;
  }
  .c-modal__close {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 64px;
    width: 64px;
  }
  .c-scrollreveal {
    transform: translateY(20px);
  }
  .c-scrollreveal.-reveal {
    animation: itemInSp 1s 0s forwards;
  }
  .c-visible_wide {
    display: none;
  }
  [data-os=others] .download {
    aspect-ratio: auto;
    display: block;
    height: 30.8vw;
    padding: 4.2vw 13.3vw 0;
    width: 90.6vw;
  }
  [data-os=others] .download__txt {
    width: 42.5rem;
  }
  [data-os=others] .download__links {
    margin-top: 1rem;
  }
  html {
    font-size: 4.1025641026vw;
  }
  .l-bg-wide {
    display: none;
  }
  .charcters {
    display: none;
  }
}

@media (min-width: 960px){
  .l-header {
    position: fixed;
    top: 0;
    left: calc((100% - 496px) / 2 - 344px);
  }
  .l-header__links {
    margin: 40px;
    width: 252px;
  }
  .l-header__links__btn + .l-header__links__btn {
    margin-top: 10px;
  }
  .-dododo-cp .l-footer__row {
    padding: 2rem 1.25rem;
  }
  .l-footer__row + .l-footer__row {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .l-footer__spec {
    font-size: 16px;
    margin-top: 16px;
  }
  .l-footer__offer {
    margin-top: 24px;
  }
  .l-footer__offer__txt {
    font-size: 14px;
  }
  .l-footer__bottom {
    font-size: 14px;
  }
  .c-hover_op:hover {
    filter: blur(1px);
    opacity: 0.75;
  }
  .c-hover_opacity:hover {
    opacity: 0.75;
  }
  .c-modal__close {
    position: fixed;
    top: 20px;
    right: 50px;
    height: 80px;
    width: 80px;
  }
  .c-scrollreveal {
    transform: translateY(30px);
  }
  .c-scrollreveal.-reveal {
    animation: itemInPc 1s 0s forwards;
  }
  .c-visible_nrw {
    display: none;
  }
  html {
    font-size: 19.6923076923px;
  }
  body {
    overflow-x: hidden;
  }
  .l-bg-wide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg/floor.webp"), url("../img/bg/wall.webp");
    background-position: bottom 0 left 0, top 0 left 0;
    background-repeat: repeat-x, repeat;
    background-size: 438px, 224px;
  }
  .l-main {
    max-width: 504px;
    margin: 0 auto;
  }
  .l-main::before, .l-main::after {
    content: "";
    background-image: url("../img/bg/line.webp");
    background-position: top 0 left 0;
    background-size: 100%;
    background-repeat: repeat-y;
    width: 12px;
    height: 100vh;
    z-index: 1;
  }
  .l-main::before {
    position: fixed;
    top: 0;
    left: calc(50% - 252px);
  }
  .l-main::after {
    position: fixed;
    top: 0;
    left: calc(50% + 240px);
  }
  .l-main__inner {
    max-width: 480px;
    margin: 0 auto;
  }
  .l-bg-main {
    max-width: 480px;
  }
  .charcters {
    position: fixed;
    top: unset;
    left: 50%;
    bottom: 0;
    right: unset;
    width: 100%;
    height: 1080px;
    transform: translateX(-50%);
  }
  .charcters::before {
    position: absolute;
    left: 0;
    bottom: 74px;
    content: "";
    width: 100%;
    height: 152px;
    background-image: url("../img/bg/gate.webp");
    background-position: top 0 left 0;
    background-repeat: repeat-x;
    background-size: 344px;
  }
  .charcters__gate {
    position: absolute;
    width: 108px;
    height: 96px;
    background-image: url("../img/bg/gate_open.webp");
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .charcters__gate.-goblin-sword-green {
    left: calc(50% - 999px);
    bottom: 814px;
  }
  .charcters__gate.-goblin-green {
    left: calc(50% - 747px);
    bottom: 613px;
  }
  .charcters__gate.-slime-blue {
    left: calc(50% - 608px);
    bottom: 393px;
  }
  .charcters__gate.-meercat-yellow {
    left: calc(50% - 1008px);
    bottom: 393px;
  }
  .charcters__gate.-fox-green {
    left: calc(50% - 650px);
    bottom: 1064px;
  }
  .charcters__gate.-goblin-sword-blue {
    left: calc(50% + 771px);
    bottom: 393px;
  }
  .charcters__gate.-slime-green {
    left: calc(50% + 371px);
    bottom: 956px;
  }
  .charcters__gate.-meercat-green {
    left: calc(50% + 649px);
    bottom: 697px;
  }
  .charcters__gate.-fox-blue {
    left: calc(50% + 371px);
    bottom: 393px;
  }
  .charcters__gate.-goblin-sword-yellow {
    left: calc(50% + 863px);
    bottom: 1024px;
  }
  .charcters__flare {
    width: 100%;
    opacity: 0;
  }
  .charcters__flare::before, .charcters__flare::after {
    content: "";
    display: block;
    background-image: url("../img/bg/flare.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 145px;
    height: 144px;
    animation: flare 5s linear infinite;
    animation-play-state: paused;
  }
  .-move .charcters__flare::before, .-move .charcters__flare::after {
    animation-play-state: running;
  }
  .charcters__flare::before {
    position: absolute;
    top: -38px;
    left: -62px;
  }
  .charcters__flare::after {
    position: absolute;
    top: -38px;
    right: -62px;
  }
  .charcters__item {
    position: absolute;
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
  }
  .charcters__gate .charcters__item {
    position: absolute;
    top: unset;
    left: 20%;
    bottom: 0;
    right: unset;
  }
  .charcters__item.-goblin-bow-yellow {
    left: 163px;
    bottom: 55px;
  }
  .charcters__item.-meercat-red {
    left: 490px;
    bottom: 55px;
  }
  .charcters__item.-slime-yellow {
    right: 554px;
    bottom: 55px;
  }
  .charcters__item.-goblin-sword-green, .charcters__item.-goblin-green, .charcters__item.-slime-blue, .charcters__item.-fox-blue, .charcters__item.-goblin-bow-yellow, .charcters__item.-meercat-yellow, .charcters__item.-goblin-sword-blue {
    animation: moveRtoL 1s linear infinite;
    animation-play-state: paused;
  }
  .charcters__item.-meercat-green, .charcters__item.-slime-green, .charcters__item.-slime-yellow, .charcters__item.-meercat-red, .charcters__item.-fox-green, .charcters__item.-goblin-sword-yellow {
    animation: moveLtoR 1s linear infinite;
    animation-play-state: paused;
  }
  .charcters__item.-meercat-green, .charcters__item.-goblin-green {
    position: absolute;
    top: unset;
    left: 10%;
    bottom: 0;
    right: unset;
    animation-duration: 1.2s;
  }
  .charcters__item.-goblin-sword-green, .charcters__item.-fox-blue {
    animation-duration: 0.8s;
  }
  .-move .charcters__item {
    animation-play-state: running;
  }
}

@media (min-width: 960px) and (max-width: 1280px){
  .l-header__links {
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.4));
  }
  .l-header__links__btn {
    margin: 0 0 0 auto;
    width: 56px;
  }
}

@media (min-height: 900px) and (min-width: 960px){
  .-dododo-cp .l-header__links {
    margin-left: 20px;
  }
  html {
    font-size: 24.6153846154px;
  }
  .l-main {
    max-width: 624px;
    margin: 0 auto;
  }
  .l-main::before {
    position: fixed;
    top: 0;
    left: calc(50% - 312px);
  }
  .l-main::after {
    position: fixed;
    top: 0;
    left: calc(50% + 300px);
  }
  .l-main__inner {
    max-width: 600px;
    margin: 0 auto;
  }
  .l-bg-main {
    max-width: 600px;
  }
}

@media (min-width: 960px) and (max-width: 1620px){
  .l-footer {
    padding-bottom: 170px;
  }
  .-dododo-cp .l-footer {
    padding-bottom: 7.5rem;
  }
}

@media (max-width: 1620px){
  .download {
    position: fixed;
    top: auto;
    left: 50%;
    bottom: 0;
    background: url(/ja/assets/img/download/bg_dl_narrow.png) no-repeat top/100%;
    filter: drop-shadow(0 0 5rem rgba(0, 0, 0, 0.6));
    height: 170px;
    padding: 24px 74px 0;
    transform: translateX(-50%);
    width: 500px;
    z-index: 6000;
  }
  .download__qr {
    display: none;
  }
  .download__txt {
    margin: 0 auto;
    width: 398px;
  }
  .download__charas {
    display: none;
  }
  [data-os=others] .schedule__anchor {
    bottom: 8.75rem;
  }
}

@media (min-aspect-ratio: 15/28) and (max-width: 959px){
  .mv {
    height: auto;
    display: block;
    padding-top: 4.25rem;
  }
}

@media (min-width: 960px) and (min-height: 900px) and (max-height: 1000px){
  .mv {
    height: auto;
    display: block;
    padding-top: 4.25rem;
  }
}

@media (max-width: 480px){
  .schedule__anchor {
    bottom: 0;
  }
}