@use "src/scss/global" as *;
.announce {
    margin-top: getRem(56);
    position: relative;
    width: 100%;
    height: getRem(400);
    background-image: url("/ja/dododo-cp/assets/img/bg/announce.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.announce__main {
    @include absPosition(getRem(192), 50%);
    translate: -50%;
    width: getRem(326);
}
