@use "src/scss/global" as *;
.announce {
    position: relative;
    width: 100%;
    height: getRem(400);
    background-image: url("../img/bg/announce.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.announce__deco {
    width: getRem(126);

    &.-left {
        @include absPosition(getRem(101), getRem(60));
    }
    &.-right {
        @include absPosition(getRem(101), unset, unset, getRem(60));
    }
}

.announce__main {
    @include absPosition(getRem(192), 50%);
    translate: -50%;
    width: getRem(326);
}

.announce__sub {
    @include absPosition(getRem(165), 50%);
    translate: -50%;
    width: getRem(235);
}

[data-anno-scroll] {
    opacity: 0;
}

[data-anno-anime-text] {
    scale: 1.8;
    opacity: 0;
}

[data-anno-anime-shine] {
    scale: 0;
    rotate: -220deg;
}
