@use "src/scss/global" as *;

.campaigns {
    position: relative;
    margin-top: getRem(34);
}

.campaigns__head {
    position: relative;
}

.campaigns__head__main {
    @include absPosition(getRem(-42), 0);
    display: block;
}

.campaigns__items {
}

.campaigns__item {
    position: relative;
    background-image: url("/ja/dododo-cp/assets/img/bg/campaigns_upper.webp"), url("/ja/dododo-cp/assets/img/bg/campaigns_lower.webp");
    background-size: 100%, 100%;
    background-position: top 0 left 50%, top getRem(419) left 50%;
    background-repeat: no-repeat, repeat-y;

    & + & {
        margin-top: getRem(54);
    }
}

.campaigns__inner {
    position: relative;
    height: getRem(419);
    overflow: hidden;

    &::after {
        @include absPosition(null, 0, 0, 0);
        width: 100%;
        height: getRem(60);
        background: linear-gradient(180deg, rgba(200, 165, 87, 0) 0%, #c8a557 72%);
        content: "";
    }
}

.campaigns__badge {
    @include absPosition(getRem(-16), null, null, getRem(20));
    width: getRem(72);
}

.campaigns__title {
    position: relative;
}

.campaigns__title__sub {
    display: block;
}

.campaigns__title__main {
    display: block;
    @include absPosition(getRem(36), 0);
    width: getRem(268);
}

.campaigns__img {
    position: relative;
    margin: 0 auto;
    width: getRem(350);

    &::before {
        content: "";
        @include absPosition(0, 0);
        width: 100%;
        height: 100%;
        background: #83614680;
        rotate: -3deg;
    }

    img {
        position: relative;
    }
}

.campaigns__img__frame {
    @include absPosition(50%, 50%);
    translate: -50% -50%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: url("/ja/dododo-cp/assets/img/campaigns/frame.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.campaigns__texts {
    margin-top: getRem(8);
    padding: 0 getRem(35);
    color: #663814;
}

.campaigns__date {
    text-align: center;
    font-size: getRem(16);
    line-height: 1.45;
    font-weight: 800;
}

.campaigns__head {
    margin-top: getRem(10);
    font-size: getRem(18);
    line-height: 1.44;
    font-weight: 800;
}

.campaigns__body {
    margin-top: getRem(8);
    font-size: getRem(16);
    line-height: 1.4;
    font-weight: 400;
}

.campaigns__link {
    display: block;
    margin-top: getRem(12);
}

.campaigns__trigger {
    @include absPosition(null, 50%, getRem(-24), null);
    translate: -50%;
    width: getRem(250);
    height: getRem(48);
    font-size: getRem(16);
    line-height: 1.45;
    font-weight: 800;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/ja/dododo-cp/assets/img/campaigns/ph_btn_trigger.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
