@use "src/scss/global" as *;
@use "sass:math";

.charcters {
    @include MQ_WIDE {
        @include fxdPosition(unset, 50%, 0, unset);
        width: 1920px;
        height: 1080px;
        transform: translateX(-50%);
        background-image: url("/ja/dododo-cp/assets/img/bg/gates.webp");
        background-position: bottom 74px left 50%;
        background-repeat: no-repeat;
        background-size: 1702px;
    }

    @include MQ_NARROW {
        display: none;
    }
}

.charcters__gate {
    @include MQ_WIDE {
        position: absolute;
        width: 159px;
        height: 140px;
        background-image: url("/ja/dododo-cp/assets/img/bg/gate_open.webp");
        background-position: top 0 left 0;
        background-repeat: no-repeat;
        background-size: contain;

        &.-goblin-sword-green {
            left: 80px;
            bottom: 691px;
        }
        &.-goblin-green {
            left: 353px;
            bottom: 789px;
        }
        &.-slime-blue {
            left: 462px;
            bottom: 489px;
        }
        &.-slime-green {
            right: 426px;
            bottom: 789px;
        }
        &.-meercat-green {
            right: 75px;
            bottom: 680px;
        }
        &.-fox-blue {
            right: 340px;
            bottom: 463px;
        }
    }
}

.charcters__item {
    @include MQ_WIDE {
        position: absolute;
        width: 96px;
        height: 96px;
        aspect-ratio: 1 / 1;

        .charcters__gate & {
            @include absPosition(unset, 20%, 0, unset);
        }

        &.-goblin-bow-yellow {
            left: 163px;
            bottom: 55px;
        }
        &.-meercat-red {
            left: 490px;
            bottom: 55px;
        }
        &.-slime-yellow {
            right: 554px;
            bottom: 55px;
        }
        &.-goblin-sword-green,
        &.-goblin-green,
        &.-slime-blue,
        &.-fox-blue,
        &.-goblin-bow-yellow {
            animation: moveRtoL 1s linear infinite;
            animation-play-state: paused;
        }
        &.-meercat-green,
        &.-slime-green,
        &.-slime-yellow,
        &.-meercat-red {
            animation: moveLtoR 1s linear infinite;
            animation-play-state: paused;
        }

        &.-meercat-green,
        &.-goblin-green {
            @include absPosition(unset, 30%, 0, unset);
            animation-duration: 1.2s;
        }

        &.-goblin-sword-green,
        &.-fox-blue {
            animation-duration: 0.6s;
        }

        .-move & {
            animation-play-state: running;
        }
    }
}

.charcters__anime {
    animation-play-state: paused;

    .-move & {
        animation-play-state: running;
    }
}

@keyframes moveLtoR {
    0% {
        transform: translateX(0) scale(1, 1);
    }
    50% {
        transform: translateX(-10%) scale(1, 1);
    }
    51% {
        transform: translateX(-10%) scale(-1, 1);
    }
    100% {
        transform: translateX(0) scale(-1, 1);
    }
}

@keyframes moveRtoL {
    0% {
        transform: translateX(0) scale(-1, 1);
    }
    50% {
        transform: translateX(10%) scale(-1, 1);
    }
    51% {
        transform: translateX(10%) scale(1, 1);
    }
    100% {
        transform: translateX(0) scale(1, 1);
    }
}
