@use "src/scss/global" as *;

.foot {
    position: relative;
    margin-top: getRem(-70);
}

.foot__inner {
    padding-top: getRem(96);
}

.foot__main {
    position: relative;
    width: 100%;
    height: getRem(177);
}

.foot__main__treasure {
    @include absPosition(0, 50%);
    width: getRem(230);
    translate: -50%;
}

.foot__main__anime {
    @include absPosition(getRem(-12), 0);
    width: 100%;

    canvas {
        width: 100%;
        height: auto;
    }
}

.foot__main__txt {
    @include absPosition(null, 50%, 0);
    width: getRem(150);
    translate: -50%;
}

.foot__link {
    display: block;
    margin: getRem(24) auto 0;
    width: getRem(350);
}

.foot__lower {
    position: relative;
    margin-top: getRem(128);
    padding-top: getRem(64);
    width: 100%;
    background-image: url("../img/bg/foot_lower.webp");
    background-size: 100%;
    background-position: top 0 left 50%;
    background-repeat: no-repeat;
}

.foot__sns__lead {
    color: #fff;
    font-size: getRem(20);
    font-weight: 800;
    line-height: 1;
    text-align: center;
    text-shadow: 0px 0px 20px #261614, 0px 0px 20px #261614, 0px 0px 20px #261614;
}

.foot__sns___links {
    margin-top: getRem(16);
    display: flex;
    justify-content: center;
    gap: getRem(16);

    a {
        display: block;
        width: getRem(56);
    }
}

.foot__btns {
    margin: getRem(16) auto 0;
    padding-bottom: getRem(40);
    background-image: url("../img/bg/foot_lower_repeat.webp");
    background-size: 100%;
    background-position: top 0 left 50%;
    background-repeat: repeat-y;
}

.foot__home {
    position: relative;
    display: block;
    width: getRem(350);
    height: getRem(72);
    font-size: getRem(20);
    margin: 0 auto;
    line-height: 1;
    font-weight: 900;
    background-image: url("../img/foot/ph_btn_link.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        @include absPosition(50%, unset, unset, getRem(25));
        content: "";
        width: getRem(14);
        height: getRem(14);
        transform: translateY(-50%);
        background-image: url("../img/common/icon_blank.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.foot__notice {
    position: relative;
    margin: getRem(16) auto 0;
    width: getRem(350);
    color: #fff;
    border: 2px solid #fff;
}

.foot__notice__btn {
    position: relative;
    width: 100%;
    height: getRem(48);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: getRem(16);
    line-height: 1;
    font-weight: 700;
}

.foot__notice__btn__icon {
    @include absPosition(50%, null, null, getRem(18));
    width: getRem(12);
    height: getRem(12);
    translate: 0 -50%;

    &::before,
    &::after {
        content: "";
        display: block;
        background-color: #fff;
    }

    &::before {
        @include absPosition(50%, 0);
        translate: 0 -50%;
        width: 100%;
        height: 2px;
    }

    &::after {
        @include absPosition(0, 50%);
        translate: -50%;
        width: 2px;
        height: 100%;
    }

    [aria-expanded="true"] &::after {
        opacity: 0;
    }
}

.foot__notice__contents {
    height: 0;
    overflow: hidden;

    p {
        border-top: 2px solid #fff;
        padding: getRem(24) getRem(20);
        font-size: getRem(10);
    }
}

[data-foot-anime-sub] {
    opacity: 0;
    scale: 1.8;
}
