@use "src/scss/global" as *;

.schedule {
    margin-top: getRem(72);
    padding-bottom: getRem(56);
    position: relative;
}

.schedule__head {
    margin: 0 auto;
    width: getRem(267);
    filter: drop-shadow(0px 0px 20px #000000) drop-shadow(0px 0px 20px #000000) drop-shadow(0px 0px 20px #000000);
    will-change: filter;
}

.schedule__box {
    position: relative;
    margin: getRem(10) auto 0;
    width: getRem(336);
    height: getRem(356);
    background-image: url("/ja/dododo-cp/assets/img/bg/schedule_box.webp");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.schedule__box__inner {
    position: relative;
    width: 100%;
    height: calc(100% - getRem(3));
    padding: getRem(34) 0;
    overflow: scroll;

    img {
        margin: 0 auto;
        width: getRem(294);
    }
}

.schedule__btn {
    @include absPosition(null, null, 0, 0);
    cursor: pointer;
    width: getRem(48);
    height: getRem(48);
}

.schedule__modal {
    margin: 0 auto;
    padding: getRem(65) 0;
    width: getRem(294);
}

.schedule__modal__close {
    @include fxdPosition(0, null, null, 0);
    width: getRem(56);
    height: getRem(56);
}

.schedule__anchor {
    position: fixed;
    display: block;
    left: calc(50% + getRem(88));
    bottom: 0;
    width: getRem(108);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;

    [data-os="others"] & {
        @include MQ_UNDER(1620) {
            bottom: getRem(140);
        }
    }

    @include MQ_UNDER($contentsMaxWidth) {
        bottom: 0;
    }

    &.-append {
        opacity: 1;
        visibility: visible;
    }
}

.schedule__anchor__shine {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: getRem(88);
    height: getRem(96);
    clip-path: polygon(50% 0%, 100% 18%, 100% 82%, 50% 100%, 0 82%, 0 18%);

    &::before {
        animation: btnShinySchedule 2.3s ease-in-out infinite;
        background-color: #fff;
        content: "";
        display: inline-block;
        height: 110%;
        left: 0;
        position: absolute;
        top: 0;
        width: getRem(14);
        transform-origin: bottom right;
    }
}

@keyframes btnShinySchedule {
    0% {
        opacity: 0.6;
        transform: rotate(60deg) translateX(getRem(-92));
    }
    80% {
        opacity: 0.6;
        transform: rotate(60deg) translateX(getRem(-92));
    }
    100% {
        opacity: 0.6;
        transform: rotate(60deg) translateX(getRem(44));
    }
}

[data-schedule-anime-head] {
    opacity: 0;
    scale: 1.8;
}

[data-schedule-anime-btn] {
    transform-origin: bottom right;
}
