@use "src/scss/global" as *;

.l-footer {
    @include relPosition();
    background: #000;
    color: #fff;

    @include MQ_WIDE {
        @include MQ_UNDER(1620) {
            padding-bottom: getRem(120);
        }
    }
}

.l-footer__row {
    padding: getRem(32) getRem(28);

    & + & {
        border-top: getRem(1) solid #797981;
    }
}

.l-footer__head {
    display: flex;
    gap: 0 getRem(7);
}

.l-footer__head__ico {
    width: getRem(105);
}

.l-footer__head__logo {
    width: getRem(195);
}

.l-footer__dllinks {
    display: flex;
    gap: getRem(5);
    margin-top: getRem(16);
}

.l-footer__spec {
    @include relPosition();
    display: flex;
    flex-wrap: wrap;
    font-size: getRem(16);
    margin-top: getRem(14);

    dt {
        color: #8a7c21;
        display: inline-block;
        font-weight: 700;
        width: getRem(80);
    }

    dd {
        display: inline-block;
        width: calc(100% - getRem(80));
    }
}

.l-footer__offer {
    margin-top: getRem(24);
}

.l-footer__offer__txt {
    font-size: getRem(14);
}

.l-footer__bottom {
    color: #797981;
    font-size: getRem(14);
    text-align: center;

    .links {
        display: flex;

        a {
            width: 50%;
        }
    }
}
