@use 'global' as *;

.l-canvas {
    @include fxdPosition(0, 0);
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: $zLayer3;

    &.-disable {
        opacity: 0;
        transition: opacity 1s 0s ease;
    }
}