<%# pageProps %>
<% var pageInfo = {
	title:"",
	class:'top',
	relPath:'./',
	css:['assets/css/main.css'],
	js:['assets/js/main.js'] }
%>

<!DOCTYPE html>
<html>
    <head>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5F76J94V');
        </script>
        <!-- End Google Tag Manager -->

        <%- include('./_inc/common/_meta', {pageInfo: pageInfo}) %>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F76J94V" height="0" width="0" style="display: none; visibility: hidden"></iframe>
		</noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="wrapper">
            <%- include('./_inc/_indextemplate', {pageInfo: pageInfo}) %>
        </div>

        <%- include('./_inc/common/_js', {pageInfo: pageInfo}) %>

		<!-- User Insight PCDF Code Start : -->
		<script type="text/javascript">
			var _uic = _uic ||{}; var _uih = _uih ||{};_uih['id'] = 54014;
			_uih['lg_id'] = '';
			_uih['fb_id'] = '';
			_uih['tw_id'] = '';
			_uih['uigr_1'] = ''; _uih['uigr_2'] = ''; _uih['uigr_3'] = ''; _uih['uigr_4'] = ''; _uih['uigr_5'] = '';
			_uih['uigr_6'] = ''; _uih['uigr_7'] = ''; _uih['uigr_8'] = ''; _uih['uigr_9'] = ''; _uih['uigr_10'] = '';
			_uic['uls'] = 1;
			
			/* DO NOT ALTER BELOW THIS LINE */
			/* WITH FIRST PARTY COOKIE */
			(function() {
			var bi = document.createElement('script');bi.type = 'text/javascript'; bi.async = true;
			bi.src = '//cs.nakanohito.jp/b3/bi.js';
			var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bi, s);
			})();
		</script>
		<!-- User Insight PCDF Code End : -->
    </body>
</html>
