@use 'global' as *;
@use 'sass:math';

.wide {
    @include fxdPosition(0, 0);
    background: url(#{$imgDir}wide/bg.jpg) no-repeat center / cover;
    height: 100%;
    width: 100%;

    @media (max-height: 800px) {
        height: 800px;
    }

    &::before {
        @include absPosition(null, 0, 0);
        background: linear-gradient(rgba(0, 153, 26, 0) 0%, rgba(34, 96, 44, 1) 100%);
        content: '';
        height: 278px;
        opacity: 0.6;
        width: 100%;
    }
}

.wide__content {
    @include relPosition();
    height: 100%;
}

$mvW: 1920;
$mvH: 1080;

.wide__chara {
    font-size: 0;
    height: 80px;
    width: 80px;
    @include cmn-transition();

    &.-goblin-bow-green {
        @include absPosition(getPer(-20, $mvH), getPer(110, $mvW));
        transform: scale(-1, 1);
    }

    &.-slime-blue-left {
        @include absPosition(getPer(354, $mvH), getPer(61, $mvW));
    }

    &.-slime-green {
        @include absPosition(getPer(215, $mvH), getPer(300, $mvW));
    }

    &.-slime-yellow-left {
        @include absPosition(getPer(383, $mvH), getPer(466, $mvW));
    }

    &.-meercat-green {
        @include absPosition(getPer(892, $mvH), getPer(380, $mvW));
        transform: scale(-1, 1);
    }

    &.-meercat-red {
        @include absPosition(getPer(589, $mvH), getPer(112, $mvW));
    }

    &.-goblin-bow-blue {
        @include absPosition(getPer(97, $mvH), unset, unset, getPer(538, $mvW));
        transform: scale(-1, 1);
    }

    &.-fox-green {
        @include absPosition(getPer(85, $mvH), unset, unset, getPer(109, $mvW));
    }

    &.-slime-yellow-right {
        @include absPosition(getPer(307, $mvH), unset, unset, getPer(350, $mvW));
    }

    &.-slime-blue-right {
        @include absPosition(getPer(435, $mvH), unset, unset, getPer(498, $mvW));
    }

    &.-fox-blue {
        @include absPosition(getPer(601, $mvH), unset, unset, getPer(216, $mvW));
        transform: scale(-1, 1);
    }

    // スクロール中
    .-scrolling & {
        animation: moveLtoR 1s linear infinite;

        &.-goblin-bow-green,
        &.-meercat-green,
        &.-goblin-bow-blue,
        &.-fox-blue {
            animation: moveRtoL 1s linear infinite;
        }

        &.-slime-green,
        &.-slime-blue-right {
            animation-duration: 0.5s;
        }
    }

    @keyframes moveLtoR {
        0% {
            transform: translateX(0) scale(1, 1);
        }
        50% {
            transform: translateX(-10%) scale(1, 1);
        }
        51% {
            transform: translateX(-10%) scale(-1, 1);
        }
        100% {
            transform: translateX(0) scale(-1, 1);
        }
    }

    @keyframes moveRtoL {
        0% {
            transform: translateX(0) scale(-1, 1);
        }
        50% {
            transform: translateX(10%) scale(-1, 1);
        }
        51% {
            transform: translateX(10%) scale(1, 1);
        }
        100% {
            transform: translateX(0) scale(1, 1);
        }
    }
}

.wide__anime__scalewrap {
    @include cmn-transition();
    transform-origin: bottom center;

    // スクロール中
    .-scrolling & {
        transform: scale(1.3);
    }
}

.wide__anime {
    animation-play-state: paused;

    // スクロール中
    .-scrolling & {
        animation-play-state: running;
    }
}
