@use 'global' as *;

.bottom {
    @include relPosition();
    height: getRem(292);
}

.bottom__pagetop {
    @include absPosition(null, null, getRem(16), getRem(16));
    height: getRem(176);
    padding: 0;
    width: getRem(176);
    z-index: $zLayer5;
}

.bottom__pagetop__inner {
    @include relPosition();
    height: 100%;

    .shadow,
    .brown {
        @include absPosition(0, 0);
    }

    .brown {
        &.-move {
            height: getRem(176);
            position: fixed;
            transform-origin: bottom center;
            width: getRem(176);
            z-index: 1000;
        }
    }

    .balloon {
        @include absPosition(getRem(-100), getRem(-96));
        width: getRem(288);
    }
}

.bottom__enemies {
    @include absPosition(unset, 0, 0, unset);
    width: calc(100% - getRem(190));
    height: getRem(156);
    overflow: hidden;
}

.bottom__enemy {
    @include absPosition(unset, getRem(-156), getRem(16), unset);
    width: getRem(156);

    div {
        transform: scale(-1, 1);
    }

    &:nth-of-type(3n) {
        div {
            animation-delay: 0.2s;
        }
    }

    &:nth-of-type(4n) {
        div {
            animation-delay: 0.5s;
        }
    }
}
