@use 'global' as *;

.contents {
    @include relPosition();
    background: #fff;
    background: url(#{$imgDir}bg_line.png) repeat-y top left / 8px 48px, url(#{$imgDir}bg_line.png) repeat-y top right / 8px 48px;
    padding: 0 8px;

    @include MQ_WIDE {
        box-shadow: 0 0 14px rgba(#000, 0.7);
        width: calc(580px + 16px);
        margin: 0 auto;
    }

    

    // &::before {
    //     @include cmn-transition();
    //     @include absPosition(0, 0);
    //     background: url(#{$imgDir}loading.gif) no-repeat center / 30px 30px, #fff;
    //     content: '';
    //     height: 100%;
    //     visibility: visible;
    //     width: 100%;
    //     z-index: $zLayer5;

    //     .l-main.-ready & {
    //         opacity: 0;
    //         visibility: hidden;
    //     }
    // }
}
