@use 'global' as *;

.keywords {
    @include relPosition();
    margin-top: getRem(-160);
    // padding-bottom: getRem(50);

    &::before {
        @include absPosition(getRem(100), 0);
        background: url(#{$imgDir}keywords/bg.jpg) repeat-y 0 0 / 100% auto;
        // background-attachment: fixed;
        content: '';
        height: calc(100% - getRem(100));
        width: 100%;
    }
}

.keywords__inner {
    @include relPosition();
}

.keywords__head {
    @include relPosition();
    height: getRem(270);
}

.keywords__head__bg {
    @include absPosition(0, 0);
    width: 100%;
}

.keywords__head__ttl {
    @include absPosition(0, 0);
    width: 100%;
}

.keywords__cont {
    margin-top: getRem(-22);
}

.keywords__cont__item {
    @include relPosition();

    & + & {
        margin-top: getRem(80);
    }
}

.keywords__cont__item__bg {
    @include absPosition(getRem(-140), 0);
    height: getRem(1449);
    width: 100%;

    @for $i from 1 through 5 {
        .-key#{$i} & {
            background: url(#{$imgDir}keywords/bg_key#{$i}.png) repeat-y 0 0 / 100% auto;
        }
    }
}

.keywords__cont__item__ttl {
    @include relPosition();
    display: block;
    filter: drop-shadow(0 getRem(8) getRem(8) rgba(#000, 0.25));
    height: getRem(236);
    margin: 0 auto;
    width: getRem(714);
    z-index: $zLayer1;

    .ttl {
        @include absPosition(0, 0);
        width: 100%;
    }

    .ttltxt {
        @include absPosition(0, 0);
        width: getRem(404);

        .-key5 & {
            @include absPosition(auto, getRem(282), 0);
        }
    }

    .effect {
        aspect-ratio: 1 / 1;
        display: block;
        width: getRem(480);
        z-index: $zLayer1;

        .-key1 & {
            @include absPosition(getRem(-130), null, null, getRem(-160));
        }

        .-key2 & {
            @include absPosition(getRem(-160), getRem(-120), auto, auto);
        }

        .-key3 & {
            @include absPosition(getRem(-80), null, null, getRem(-135));
        }

        .-key4 & {
            @include absPosition(getRem(-90), getRem(-120), auto, auto);
        }

        .-key5 & {
            @include absPosition(getRem(-160), null, null, getRem(-120));
        }
    }
}

.keywords__cont__item__movie {
    @include relPosition();
    filter: drop-shadow(0 getRem(8) getRem(8) rgba(#000, 0.25)) drop-shadow(getRem(12) getRem(12) 0 rgba(#000, 0.2));
    height: getRem(1024);
    margin: getRem(-96) auto 0;

    border-radius: getRem(32);
    width: getRem(624);

    .-key1 & {
        border: getRem(10) solid #b21315;
    }

    .-key2 & {
        border: getRem(10) solid #c02e00;
    }

    .-key3 & {
        border: getRem(10) solid #072389;
    }

    .-key4 & {
        border: getRem(10) solid #074d33;
    }

    .-key5 & {
        border: getRem(10) solid #451462;
    }

    video {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.keywords__cont__item__movie__inner {
    @include relPosition();
    border-radius: getRem(22);
    height: 100%;
    overflow: hidden;

    .-key1 & {
        border: getRem(10) solid #d93638;
    }

    .-key2 & {
        border: getRem(10) solid #ef5a07;
    }

    .-key3 & {
        border: getRem(10) solid #3d65f2;
    }

    .-key4 & {
        border: getRem(10) solid #009960;
    }

    .-key5 & {
        border: getRem(10) solid #7e0ac3;
    }
}

.keywords__cont__item__catch {
    width: getRem(386);

    .-key1 &,
    .-key3 & {
        @include absPosition(null, getRem(34), getRem(80));
    }

    .-key2 &,
    .-key4 & {
        @include absPosition(null, null, getRem(80), getRem(34));
    }

    .-key5 & {
        @include absPosition(null, getRem(34), getRem(476));
    }
}

.keywords__cont__item__chara {
    .-key1 & {
        .chara1 {
            @include absPosition(null, null, getRem(-44), getRem(54));
            width: getRem(320);
        }
        .chara2 {
            @include absPosition(null, null, getRem(-74), 0);
            width: getRem(240);
        }
    }

    .-key2 & {
        .chara1 {
            @include absPosition(null, getRem(0), getRem(44));
            animation: charaMove 0.5s infinite alternate;
            transform-origin: bottom;
            width: getRem(212);
        }
        .chara2 {
            @include absPosition(null, getRem(148), getRem(36));
            animation: charaMove 0.5s 0.25s infinite alternate;
            transform-origin: bottom;
            width: getRem(184);
        }
    }

    .-key3 & {
        .chara1 {
            @include absPosition(null, null, getRem(50), getRem(-5));
            animation: charaMove 0.5s infinite alternate;
            transform-origin: bottom;
            width: getRem(308);
        }
    }

    .-key4 & {
        .chara1 {
            @include absPosition(null, getRem(-12), getRem(84));
            animation: charaMove 0.5s infinite alternate;
            transform-origin: bottom;
            width: getRem(284);
        }
        .chara2 {
            @include absPosition(null, 0, getRem(-84));
            transform: scale(-1, 1);
            width: getRem(260);
        }
    }

    .-key5 & {
        .chara1 {
            @include absPosition(null, getRem(-150), getRem(0));
            width: getRem(1046);
        }
    }

    @keyframes charaMove {
        from {
            transform: scale3d(0.98, 1.02, 1);
        }
        to {
            transform: scale3d(1, 1, 1);
        }
    }
}

.keywords__bottom {
    @include absPosition(null, null, getRem(-120));
    height: getRem(228);
    width: 100%;
    // transform: translateY(getRem(50));
}

.keywords__bottom__inner {
    @include relPosition();
    height: 100%;
}

.keywords__boottom__tape1 {
    @include absPosition(getRem(44), 0);
    width: 100%;
}

.keywords__boottom__tape2 {
    @include absPosition(0, 0);
    width: 100%;
}
