@use 'global' as *;

.mv {
    @include relPosition();
    font-size: getRem(32);

    &.-bottom {
        margin-top: getRem(90);
        padding-bottom: getRem(84);
    }
}

.mv__maincatch {
    margin: getRem(30) auto 0;
    width: getRem(664);
}

.mv__chara {
    &.-sally {
        @include absPosition(getRem(100), null, null, getRem(-76));
        width: getRem(290);
    }

    &.-brown {
        @include absPosition(getRem(390), getRem(0));
        width: getRem(236);
    }
}

.mv__logo {
    @include relPosition();
    margin: 0 auto;
    width: getRem(626);

    .-top & {
        margin-top: getRem(-32);
    }
}

.mv__dl__txt {
    @include relPosition();
    margin: getRem(-48) auto 0;
    width: getRem(416);
    z-index: $zLayer1;
}

.mv__dl__btn {
    filter: drop-shadow(0 0 getRem(20) #f7d500) drop-shadow(0 0 getRem(18) #f7d500);
    display: block;
    margin: getRem(-26) auto 0;
    width: getRem(644);
}

.mv__links {
    margin: getRem(28) auto 0;
    width: getRem(564);
}

.mv__links__btn {
    display: block;

    & + & {
        margin-top: getRem(8);
    }
}
