@use 'global' as *;

.wide {
    @include fxdPosition(0, 0);
    background: url(#{$imgDir}wide/bg.jpg) no-repeat center / cover;
    height: 100%;
    width: 100%;

    @include MQ_WIDE {
        @media (max-height: 800px) {
            height: 800px;
        }
    }
}

.wide__content {
    @include relPosition();
    display: flex;
    justify-content: space-between;
}
