@use 'global' as *;

.wide {
    @include fxdPosition(0, 0);
    background: url(#{$imgDir}wide/bg.jpg) no-repeat center / cover;
    height: 100%;
    width: 100%;

    @include MQ_WIDE {
        @media (max-height: 800px) {
            height: 800px;
        }
    }
}

.wide__content {
    @include relPosition();
    display: flex;
    justify-content: space-between;
    transform: translateY(300px);
}

.wide__chara {
    height: getRem(80);
    width: getRem(80);

    &.-goblin-bow-green {
        @include absPosition(getRem(10), getRem(112));
    }

    &.-slime-blue-left {
        @include absPosition(getRem(324), getRem(60));
    }

    &.-slime-green {
        @include absPosition(getRem(215), getRem(310));
    }

    &.-slime-yellow-left {
        @include absPosition(getRem(383), getRem(466));
    }

    &.-meercat-green {
        @include absPosition(getRem(503), getRem(356));
    }

    &.-meercat-red {
        @include absPosition(getRem(861), getRem(32));
    }

    &.-goblin-bow-blue {
        @include absPosition(getRem(45), unset, unset, getRem(538));
    }

    &.-fox-green {
        @include absPosition(getRem(33), unset, unset, getRem(109));
    }

    &.-slime-yellow-right {
        @include absPosition(getRem(244), unset, unset, getRem(350));
    }

    &.-slime-blue-right {
        @include absPosition(getRem(383), unset, unset, getRem(498));
    }

    &.-fox-blue {
        @include absPosition(getRem(364), unset, unset, getRem(216));
    }
}

.wide__anime {
    &.-stop {
        animation-play-state: paused;
    }
}
