@use 'global' as *;

.wide {
    @include fxdPosition(0, 0);
    background: url(#{$imgDir}wide/bg.jpg) no-repeat center / cover;
    height: 100%;
    width: 100%;

    @include MQ_WIDE {
        @media (max-height: 800px) {
            height: 800px;
        }
    }
}

.wide__content {
    @include relPosition();
}

.wide__chara {
    height: getRem(80);
    width: getRem(80);

    &.-goblin-bow-green {
        @include absPosition(getRem(310), getRem(112));
    }

    &.-slime-blue-left {
        @include absPosition(getRem(624), getRem(60));
    }

    &.-slime-green {
        @include absPosition(getRem(515), getRem(310));
    }

    &.-slime-yellow-left {
        @include absPosition(getRem(683), getRem(466));
    }

    &.-meercat-green {
        @include absPosition(getRem(803), getRem(356));
    }

    &.-meercat-red {
        @include absPosition(getRem(961), getRem(32));
    }

    &.-goblin-bow-blue {
        @include absPosition(getRem(345), unset, unset, getRem(538));
    }

    &.-fox-green {
        @include absPosition(getRem(333), unset, unset, getRem(109));
    }

    &.-slime-yellow-right {
        @include absPosition(getRem(544), unset, unset, getRem(350));
    }

    &.-slime-blue-right {
        @include absPosition(getRem(683), unset, unset, getRem(498));
    }

    &.-fox-blue {
        @include absPosition(getRem(664), unset, unset, getRem(216));
    }
}

.wide__anime {
    transform-origin: bottom center;

    &.-stop {
        animation-play-state: paused;
    }
}
